body {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

:root {
  --main-color: #31af8a;
  --secondary-color: #353b49;
}

.parallax_container{
 height: auto;
 width: auto;

}
.parallax img{
  width: 100%;
  border-radius:  0 0 45% 45%;
}


nav {
  width: 100%;
  font-weight: 800;
  display: flex;
  background-color: #31af8a;
  height: 50px;
  align-items: center;
}

h1 {
  padding: 10px;
  color: white;
  font-size: 23px;
  font-family: 'Castoro Titling', cursive;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;

}

nav a:hover {
  color: var(--secondary-color);
}


main {
  height: auto;
  display: flex;
  width: 100vw;
  align-items: center;
  margin: 0;
  padding: 0;
}

#main_cards_container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  height: 400px;
}

h2 {
  display: inline-block;
  height: 30px;
  padding: 10px;
  margin: 10px;
  font-style: italic;
  color: var(--secondary-color);
  text-align: center;
}

#logo {
  width: 100px;
  height: 100px;
}

button {
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  width: auto;
  height: 25px;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}

button a {
  text-decoration: none;
  color: white;
}

.main_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 13.5px 16px 7.5px -7px #dddddd;
  -moz-box-shadow: 13.5px 16px 7.5px -7px #dddddd;
  box-shadow: 13.5px 16px 7.5px -7px #dddddd;
  background-color: var(--card-color);
}

.main_card div p {
  font-size: 20px;
  font-style: italic;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.712);
}

.modal-contenido {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 100px;
  max-width: 350px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}

.cerrar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 26px;
  cursor: pointer;
}

#bookingContainer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.712);
}

#calendarCard {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 50px;
  max-width: 450px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}

#submitBtn {
  border: none;
  color: var(--main-color);
}

#closeBooking {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 26px;
  cursor: pointer;
}

#main_card1,
#main_card3,
#main_card5 {
  flex-direction: row-reverse;
}

.card_content {
  width: 60%;
  text-align: justify;
  height: 400px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.card_content div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.card_content h2 {
  font-family: 'Castoro Titling', cursive;
}

.card_image {
  float: right;
}

.contacto {
  display: flex;
  height: auto;
  padding: 20px;
  justify-content: center;
  text-align: center;

}

.contacto a {
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}

footer {
  color: var(--secondary-color);
  padding: 10px;
  font-size: 14px;
  height: 20px;
  float: left;
}

footer p {
  margin: 0;
  line-height: 1.5;
  font-size: large;
  color: var(--main-color);
}


/* Media Query para móvil */
@media (max-width: 576px) {

  .parallax{
    width: 100%;
    height:auto;
  }
  
  .parallax img{
    width: 100%;
    height: auto;
  } 
  
  .modal-contenido {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    max-width: 350px;
    text-align: center;
    position: relative;
    border-radius: 10px;
  }
  nav {
    height: 40px;
  }

  h1 {
    font-size: 20px;
  }

  nav li {
    margin: 0 5px;
  }

  nav a {
    padding: 10px;
    font-size: 14px;
  }

  img {
    width: auto;

  }

  h2 {
    text-align: center;
    height: 20px;
    font-size: 18px;
  }

  button {
    height: 20px;
    font-size: 14px;
  }

  .main_container {
    height: auto;
    flex-direction: row;
  }

  
  .main_card{
    display: flex;
    flex-direction: column-reverse;
  }
  #main_card1, #main_card3,#main_card5{
    flex-direction: column;
  }
  .card_content {
    width: 100%;
    height: auto;
    font-size: 14px;
    text-align: center;
  }
.main_card img{
  width: 100%;
  height: auto;
}
  .card_content div {
    height: auto;
  }
}

/* Media Query para tableta */
@media (min-width: 577px) and (max-width: 1280px) {
  .parallax img{
    
    height: auto;
    border-radius:none;
  }

  nav {
    height: 50px;
  }

  h1 {
    font-size: 22px;
  }

  nav li {
    margin: 0 8px;
  }

  nav a {
    padding: 12px;
    font-size: 16px;
  }

  img {
    height: 300px;
  }

  h2 {
    text-align: center;
    height: 25px;
    font-size: 20px;
  }

  button {
    height: 25px;
    font-size: 16px;
  }

  .main_card {
    width: 90%;
    margin: 10px;
    padding: 10px;
    
  }

  .card_content {
    width: 60%;
    height: auto;
    font-size: 16px;
    text-align: center;

  }

  .card_content div {
    margin: 10px;
    padding: 10px;
    height: auto;
    
  }
  

}

/* Media Query para escritorio */
@media (min-width: 1280px) {
  .parallax {
    height: 360px;
    margin-bottom: 50px;
  }

  nav {
    height: 50px;
  }

  h1 {
    font-size: 23px;
  }

  nav li {
    margin: 0 10px;
  }

  nav a {
    padding: 15px 20px;
    font-size: 16px;
  }

  img {
    width: auto;
  }

  h2 {
    
    height: 30px;
    font-size: 23px;
  }

  button {
    height: 25px;
    font-size: 16px;
  }

  .main_card {
    width: 80%;
    margin: 10px;
    padding: 10px;
  }

  .card_content {
    width: 60%;
    height: 400px;
    font-size: 20px;
  }

  .card_content div {
    height: auto;
  }
}
