body {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
background-color: ;
}

:root {
  --main-color: #31af8a;
  --secondary-color: #353b49;
}

.parallax {
  background-image: url('assets/fondo\ de\ inicio.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 360px;
  border-radius: 0 0 50% 50%;
  width: 100%;
  margin-bottom: 50px;
}

nav {
  width: 100%;
  font-weight: 800;
  display: flex;
  background-color: #31af8a;
  height: 50px;
  align-items: center;
}

h1 {
  padding: 10px;
  color: white;
  font-size: 23px;
  font-family: 'Castoro Titling', cursive;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  
}

nav a:hover {
  color: var(--secondary-color);
}



/* #cart {
  cursor: pointer;
  padding: 10px;
}

#cart:hover {} */

main {
  height: auto;
  display: flex;
  width: 100vw;
  align-items: center;
  margin: 0;
  padding: 0;
}

#main_cards_container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  height: 400px;
}

h2 {
  display: inline-block;
  height: 30px;
  padding: 10px;
  margin: 10px;
  font-style: italic;
  color: var(--secondary-color);
}
#logo{
  width:100px;
  height: 100px;
}
button {
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  width: auto;
  height: 25px;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}
button a{
text-decoration: none;
color: white;
}

.main_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 13.5px 16px 7.5px -7px #dddddd;
  -moz-box-shadow: 13.5px 16px 7.5px -7px #dddddd;
  box-shadow: 13.5px 16px 7.5px -7px #dddddd;
  background-color: var(--card-color);
}

.main_card div p {
  font-size: 20px;
  font-style: italic;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.712);
}

.modal-contenido {
	background-color: #fefefe;
	margin: 20% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  height: 100px;
	max-width: 350px;
	text-align: center;
	position: relative;
  border-radius: 10px;
}

.cerrar {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	font-size: 26px;
	cursor: pointer;
}

#bookingContainer{
  display: none; 
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.712);
}

#calendarCard{
  background-color: #fefefe;
	margin: 20% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  height: 50px;
	max-width: 450px;
	text-align: center;
	position: relative;
  border-radius: 10px;
}
#submitBtn{
  border: none;
  color: var(--main-color);
}
#closeBooking{
  position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	font-size: 26px;
	cursor: pointer;
}

#main_card1,
#main_card3,
#main_card5 {
  flex-direction: row-reverse;
}

.card_content {
  width: 60%;
  text-align: justify;
  height: 400px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;

}

.card_content div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.card_content h2 {
  font-family: 'Castoro Titling', cursive;
}

.card_image {
  float: right;
}

.contacto {
  display: flex;
  height: auto;
  padding: 20px;
  justify-content: center;
  text-align: center;

}
.contacto a{
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}

footer {
  color: var(--secondary-color);
  padding: 10px;
  font-size: 14px;
  height: 20px;
  float: left;
}

footer p {
  margin: 0;
  line-height: 1.5;
  font-size: large;
  color: var(--main-color);
}

